.paddingMedia{
  @media screen and (min-width: 900px) {
    padding-left: 2.5em !important;
    padding-right: 2.5em !important;
  }

  @media screen and (max-width: 900px) {
    padding-left: 1.5em !important;
    padding-right: 1.5em !important;
  }

  @media screen and (max-width: 420px) {
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
}

.marginMedia{
  @media screen and (min-width: 900px) {
    margin-left: 2.5em !important;
    margin-right: 2.5em !important;
  }

  @media screen and (max-width: 900px) {
    margin-left: 1.5em !important;
    margin-right: 1.5em !important;
  }

  @media screen and (max-width: 420px) {
    margin-left: 1em !important;
    margin-right: 1em !important;
  }
}

.OuterMarginMedia{
  @media screen and (min-width: 900px) {
    margin-left: -2.5em !important;
    margin-right: -2.5em !important;
  }

  @media screen and (max-width: 900px) {
    margin-left: -1.5em !important;
    margin-right: -1.5em !important;
  }

  @media screen and (max-width: 420px) {
    margin-left: -1em !important;
    margin-right: -1em !important;
  }
}

.colunas,.colunas2,.colunas3,.colunas4,col2,col3,col4{
  display: block !important;
  position: relative !important;

  column-gap: 1.5em;
  -moz-column-fill: balance;
  column-fill: balance;

  > blockquote{
    &,&.cite{
      margin-left: -.25em !important;
      margin-right: -.25em !important;
    }
  }

  > .force_second_collums{
    display: block;
    visibility: hidden !important;
  }

  &,> *{
    /* https://stackoverflow.com/questions/26854095/stop-css3-columns-breaking-paragraphs-up */
    page-break-inside: avoid; /* For Firefox. */
    -webkit-column-break-inside: avoid; /* For Chrome & friends. */
    break-inside: avoid; /* For standard browsers like IE. :-) */
  }
}

.btb{
  background: #2b92db;
  border: 2px solid transparent;
  padding: .7em 2em;
  margin: 1em;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;

  @include border-radius(.3em);

  &:hover{
    background: cyan;
    color: #000;
  }
}

.colunas.col2,
.colunas2{
  column-count: 2;

  @media screen and (max-width: 560px) {
    column-count: 1;

    article{
      &:first-of-type{
        margin-top: 1em;
      }
    }
  }
}

.colunas.col3,
.colunas3{
  column-count: 3;

  @media screen and (max-width: 1000px) {
    column-count: 2;
  }

  @media screen and (max-width: 560px) {
    column-count: 1;
  }
}

.colunas.col4,
.colunas4{
  column-count: 4;

  @media screen and (max-width: 900px) {
    column-count: 2;
  }

  @media screen and (max-width: 560px) {
    column-count: 1;
  }
}

.colunas{
  padding-top: 0;
  line-height: auto;
  vertical-align: top;

  @media screen and (max-width: 560px) {
    column-count: 1;

    > .force_second_collums{
      display: none !important;
    }
  }

  @media screen and (min-width: 560px) {
    column-count: 2;
  }

  &:not(.sequencia_interaction){
    @media screen and (min-width: 1050px) {
      column-count: 3;
    }
  }

  > article{
    display: inline-block !important;
    margin-top: $article_distance_top*0.75;
  }

  > article+span.bug_column{
    display: inline-block !important;
    max-height: 1px !important;
    overflow-y: hidden;
    margin: 0 !important;
    padding: 0 !important;
    margin-bottom: -1px !important;
    opacity: 0;
  }
}

.igroup{
  display: table;

  input,
  button{
    background: rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.3);
    color: #fff;

    padding: .8em;
    line-height: 1.45em;
  }

  input{
    margin-right: 0;
    display: table-cell;
    width: 100%;
    @include border-radius(.5em, 0, 0, .5em);
    @include box-shadow(0, 0, .7em, rgba(0,0,0,.1), 0, 'inset');

    border-right: none;

    &:focus{
      border-color: $cor_slide_show_bk_active;
    }
  }

  input:focus+span > button{
    border-color: $cor_slide_show_bk_active;
  }

  span{
    display: table-cell;
    width: 1%;

    button{
      @include border-radius(0, .5em, .5em, 0);
    }
  }
}

.caption {
  margin: 2em 0;
  margin-left: .3em;
  margin-bottom: 1em;
  font-weight:normal;
  background: $caption_bg;

  &,*{
    color: #fff !important;
  }

  span {
    display:inline-block;
    position:relative;
    padding:5px 10px 5px 16px;
    border-top:1px solid rgba(0,0,0,.1);

    &:after {
      content: "";
      position:absolute;
      bottom:-0.5em; left:0;
      border-left-width:0.5em;
      border-left-style:solid;
      border-bottom:0.5em solid transparent;
      border-left-color:$caption_bg;
    }
  }
}

h1,h2,h3,h4,h5,h6,h7{
  &.caption{
    display: inline-block;
    border-color: transparent;
  }
}


.title.mark {
  display:inline-block;
  padding:2px 8px;
  position:relative;
  font-size:90%;
  background: #2b92db;
  color: #fff;
  margin: .1em 0;

  &:after {
    content: "";
    position:absolute;
    top:0; right:-0.5em;
    border-left-width:0.5em;
    border-left-style:solid;
    border-bottom: 0.5em solid transparent;
    border-left-color: #2b92db;
  }

  &+*{
    margin-left: 1em;
  }
}

.thumbnail{
  background: transparent;
  border: none;

  &.cover{
    &,li{
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }

  .slideshow{
    &.swipe{
      ul{
        z-index: 0;
      }

      a{
        @include transition(.2s);
        z-index: +1;

        position: absolute;
        top: 50%;
        color: transparent;
        border: .15em solid #ddd;

        height: 3em;
        width: 3em;

        background: $cor_slide_show_bk;
        @include border-radius(1.5em);
        @include box-shadow(0, 0, 1em, #111);

        opacity: 0;

        &:hover{
          background: $cor_slide_show_bk_hover;
        }
        &:active{
          background: $cor_slide_show_bk_active;
        }

        &:after{
          display: block;

          font-size: 1.5em;
          line-height: 3em;
          padding-top: .4em;

          font-family:"Font Awesome 5 Free";
          -moz-osx-font-smoothing:grayscale;
          -webkit-font-smoothing:antialiased;
          font-style:normal;
          font-variant:normal;
          text-rendering:auto;line-height:1;
          font-weight:900;

          content: "";

          color: $cor_slide_show_letra;

          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;

          text-align: center;
          margin: 0;
        }

        &:first-of-type{
          left: .5em;

          &:after{
            content: "\f060";
          }
        }

        &:last-of-type{
          right: .5em;

          &:after{
            content: "\f061";
          }
        }

        *{
          display: none;
        }
      }
    }

    &.swipe:hover{
      a{
        opacity: .9 !important;
      }
    }
  }
}

body{
  background: #333333;
  background: -moz-radial-gradient(center, ellipse cover, #333333 1%, #111 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #333333 1%,#111 100%);
  background: radial-gradient(ellipse at center, #333333 1%,#111 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#111',GradientType=1 );

  padding-top: 3.5em;
  background-repeat: repeat !important;

  *{
    color: #ccc;
  }

  &:before{
    content: " ";

    background: transparent url('../img/bk.png');

    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
  }

  &,*{
    font-family: "Noto Sans", "Sans-Serif";
    line-height: 1 + .5;
    font-size: 1ev;
    line-height: 1.3em;
    text-align: justify;
  }

  > *{
    z-index: 1;
  }

  .escuro{
    position: fixed;
    background: rgba(0,0,0,.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .colunabarra{
    margin: 0 auto;
    position:relative;
    padding: 0 .7rem;

    @media screen and (min-width: 900px) {
      width: 80%;
      max-width: $article_width2;
    }

    @media screen and (max-width: 900px) {
      width: auto;
      max-width: $article_width;
    }

  }

  > section.body{
    position: fixed;
    left: 0;
    top: $MasterHeaderHeight;
    overflow: auto;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 0;


    header.fixed.first{
      img{
        height: 150%;
        max-height: none !important;
        margin-top: -24px;
        margin-left: -20px;
      }
    }

    .topmaster,
    .topmenu{
      display: block;
      margin: .6em 0;

      &.forcaroculto{
        opacity: 0 !important;
        overflow: hidden;
        height: 1px !important;
        padding: 0;
        margin: 0;
      }

      &.forcaroculto ul{
        position: relative !important;
      }

      ul{
        display:block;
        overflow-x: hidden;
        padding:0;
        margin:0;
        font-size:.8em !important;
        list-style: none;
        white-space: nowrap;

        padding-bottom: .5em;
        border-bottom: 1px solid rgba(255,255,255,.1);

        > li{
          display: inline-block !important;
          margin: .2em .3em;
          margin-right: -.45em;
          padding: .1em .5em;
          white-space:nowrap;
          text-align: center;

          color: #000;

          border-left: 1px solid rgba(255,255,255,.1);

          &:first-of-type{
            margin-left: 0;
            padding-left: 0;
            border-left: 0;
          }

          a{
            text-decoration: none;

            &:hover{
              color: yellow !important;
            }

            &:after{
              display: none;
            }
          }
        }

        &.estouro{
          *{
            border: none !important;
          }

          position: fixed;
          right: -100%;
          bottom: 0;
          top: 0;

          background: rgba(20,20,20,.95);
          z-index: 999;
          box-shadow: 0 0 1em #000;
          opacity: 0;

          height: auto !important;
          max-height: auto !important;
          margin-top: 1em;
          padding: 1 3em;
          padding-top: calc(48px + 7px + 1em);

          @include transition(0s, 0s);

          &:not(.forcaroculto){
            &,&.open{
              @include transition(.4s, 0s);
            }
          }

          &.open{
            right: 0;
            opacity: 1;
            border-left: 1px solid yellow;
            border-right: 1.5em solid rgba(255,255,0,.7);
          }

          > li{
            display: block !important;
            text-align: left;
            padding: .5em 0 !important;
            margin: 0;
            border-bottom: 1px solid rgba(255,255,255,.1) !important;

            > a{
              > span{
                margin: 0 1em;
              }

              padding: 0 .5em;
            }

            &,span,a{
              line-height: 1.5em;
              display: block !important;
              white-space: nowrap;
            }

            &:hover{
              background: rgba(255,255,255,.1);
            }

            &,*{
              text-align: left;
            }
          }

          &.social{
            margin-top: 0 !important;

            &.wpadminbar{
              top: 46px;
            }

            > li{
              &,*{
                text-align: center;

                &:before,&:after{
                  font-size: 2em;
                }
              }

              > a {
                padding-top: .7em;

                > span{
                  margin-top: .4em !important;
                }
              }

              > span{
                margin-left: 0;
              }
            }
          }
        }
      }
    }

    .topmaster:not(.estouro){
      top: -100%;
      position: absolute;
    }

    header.titulo{
      position:relative;
      z-index:100;
      width:100%;
      padding-top:30px;

      > div.wrapper{
        > nav{
          position:relative;
          float:left;
          z-index:110;
          margin: 0 1.2em;

          &+div.title{
            h1{
              margin: 0em;
              border-color: rgba(255,255,255,.2);
            }

            p{
              text-indent: 0;
            }

            h1,p{
              &,*{
                text-align: center !important;
              }
            }
          }

          ul{
            list-style: none;

            display:block;
            position:relative;
            padding:0;
            margin:0;
            font-size:1em;
            white-space:nowrap;
            overflow-x: hidden;

            &,*{
              color: #fff;
            }

            li{
              float:left;
              margin: 0;
              padding: 0;
            }

            &:after, &:before {
              border-color: #2b92db;
              margin-top:0.5em;
              content: "";
              float:left;
              border-width:1.5em;
              border-style:solid;
            }

            &:after{
              border-right-color: transparent !important;
            }
            &:before{
              border-left-color: transparent !important;
            }

            span {
              background: #2b92db;

              display:inline-block;
              line-height:3em;
              padding:0 .5em;
              margin-top:0.5em;
              position:relative;

              -webkit-transition: all 0.2s, margin-top 0.2s;  /* Saf3.2+, Chrome */
              -moz-transition: all 0.2s, margin-top 0.2s;  /* FF4+ */
              -ms-transition: all 0.2s, margin-top 0.2s;  /* IE10 */
              -o-transition: all 0.2s, margin-top 0.2s;  /* Opera 10.5+ */
              transition: all 0.2s, margin-top 0.2s;

              &:before, span:after {
                border-bottom-color:#2b92db;
              }

              &:before{
                border-right-color: #2b92db;
              }
            }

            a {
              color:#000;

              &:hover span, &.waiting span {
                background:yellow;
                color: #000;
              }

              &:after{
                display: none;
              }
            }

            .current-menu-item span,
            .current-menu-item a:hover span {
              background:#FFE04F;
            }

          }
        }
      }

      @media screen and (min-width: 978px) and (max-height: 600px){
        padding-top:20px;
      }

      @media screen and (min-width: 978px) and (min-height: 900px){
        padding-top:50px;
      }

      @media screen and (max-width: 978px) {
        text-align:center;
        nav { float:none; padding-top:80px; }
        .title { float:none; position:absolute; width:100%; top:0px; margin-left:0; }
      }

      @media screen and (max-width: 767px) {
        padding-top:0px; text-align:left;
        .title { padding-top:30px; }
        nav ul { display:none; }
        nav:after { display:block; }
        .title h1 { font-size:1.4em; }
      }

      @media screen and (max-width: 767px) and (max-height: 700px) {
        .title { padding-top:20px; }
      }
      @media screen and (max-width: 767px) and (max-height: 600px) { /* Phone Portrait Layout : 320x480 */
        .title { padding-top:6px; }
      }
      @media screen and (max-width: 767px) and (max-height: 440px) {
        .title { padding-top:0px; }
      }
      @media screen and (max-width: 767px) and (max-height: 340px) { /* Phone Landspace Layout : 480x320 */
        .title h1 { font-size:1.2em; }
      }
    }

    > footer{
      margin: 0;
      margin-top: 2em;
      padding: 1em;
      border-top: 1px solid #333;
      border-bottom: 1em solid #2b92db;
      background: rgba(0,0,0,.4);
      font-size: .8em;

      &, *{
        text-align: center;
      }

      p{
        padding: 0 1em;
      }

      a{
        color: #eee;
      }

      hr{
        border: 0;
        border-top: 1px solid #202020;
        margin: 1em 0;
      }

      .dados{
        display: block;
        margin-bottom: 1.5em;
        padding: .7em;
        border-bottom: 1px solid #444;
        z-index: 1;
        text-align: center;

        > img{
          float: right;
          margin: 0 1em;
        }

        @media screen and (max-width: 720px) {
          float: none;
          margin: 0;
        }

        ul{
          margin: 0;
          margin-bottom: 1em;
          list-style: none;

          li{
            display: block;
            margin: .2em 0;
            padding: .2em;
            text-align: left;

            &:hover{
              background: rgba(0,0,0,.15);
            }

            span.title+span.value{
              white-space: nowrap;
            }
          }
        }
      }

      ul{
        list-style: none;
        width: auto !important;
        display: inline-block;
      }

      table{
        width: 100%;
        margin-top: 1.5em;

        tr{
          &, &:hover{
            background-color: transparent !important;
          }

          > td{
            padding: 0 .8em;

            border: none;
            border-left: 1px solid #222;


            &, & *{
              text-align: left;
              line-height: 1.5em;
            }

            &:first-of-type{
              border: none;
              border-right: 1px solid #222;

              &, & *{
                text-align: right !important;
                line-height: 1.5em;
              }
            }
          }
        }
      }
    }

    > section.content{
      &.inner.wrapper{
        padding-bottom: 1em;

        > section{
          padding: 1em 0;
          padding-bottom: 2.5em;

          &:nth-child(odd){
            background: rgba(0,0,0,.05);
          }
        }

        > section, > div

        &:after{
          content: " ";
          display: block;
          clear: both;
        }

        .painel{
          z-index: 0;

          h2{
            margin-top: 0;
            color: #fefdc0;

            big{
              color: #efee8e;
            }
          }

          > table{
            height: auto !important;
            padding: 0 .7em;
            margin: 0 -.7rem !important;

            &,tbody{
              > tr{
                td{
                  background: transparent;
                  border: none;
                }

                &:first-of-type{
                  > td{
                    background: rgba(43, 146, 219, .12);

                    &:first-of-type{
                      background: url('../img/painel.svg') no-repeat top left;
                      background-size: auto 17em;
                      height: 2.2em;
                      width: 10.5em;
                    }

                    &.f3{
                      width: 6.5em;
                      background: url('../img/painel.svg') no-repeat top right;
                      background-size: auto 17em;
                    }
                  }
                }

                &.content{
                  background: rgba(43, 146, 219, .12);

                  p,span{
                    color: #ddf4ff;
                    line-height: 1.4em;
                  }

                  > td{
                    padding: 0 1em;

                    img.float{
                      float: right;
                      margin: .3em 1em;
                      margin-right: 0;
                    }
                  }
                }

                &.final{
                  margin-top: -3em;

                  > td{
                    > div{
                      background: rgba(43, 146, 219, .12);

                      position: absolute;
                      left: 0;
                      top: 0;
                      width: 100%;
                      height: 78.2%;
                    }

                    &:first-of-type{
                      background: url('../img/painel.svg') no-repeat bottom left;
                      background-size: auto 17em;
                      height: 3.5em;
                    }

                    &.f3{
                      background: url('../img/painel.svg') no-repeat bottom right;
                      background-size: auto 17em;
                    }
                  }
                }
              }
            }
          }

          @media screen and (max-width: 530px) {
            border-left-width: 1em;
          }

          @media screen and (max-width: 420px) {
            border-left-width: .5em;
          }

          a{
            color: #fff;

            &:hover{
              color: #2b92db;
            }
          }

          div.page{
            @media screen and (max-width: 720px) {
              display: -webkit-flex; /* Safari */
              -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
              display: flex;
              flex-direction: row-reverse;
            }
          }
          div.title{

          }
        }

        > section{
          &.artigos{
            width: 100%;
            padding-top: 0 !important;
            margin-top: 0;

            &.e404{
              text-align: center;

              > img{
                display: inline-block;
                max-width: 40%;
                max-height: 40%;
              }

              > div{
                text-align: center;

                > div{
                  display: inline-block;
                  margin: 2em 0;
                  max-width: 70%;
                }
              }
            }

            article{
              background: $bkAtigo;
              margin-top: $article_distance_top;

              max-width: 100%;
              min-width: 100%;
              padding-bottom: .5em;
              border: 1px solid #666;

              @include box-shadow(0, 0, 1em, $article_shadown, 0);

              &,*{
                text-align: justify;
              }

              &:active,
                &:hover{
                border-color: yellow;
              }

              &.sequencia_interaction{
                background: $cor_article_sequencial;
                min-width: calc(100% - 1.5em);
                border: .7em solid $article_shadown;

                &.prev{
                  border-left-color: $cor_article_sequencialBar;
                }

                &.next{
                  border-right-color: $cor_article_sequencialBar;
                }
              }

              .header{
                text-decoration: none !important;
              }

              > nav.meta,
              > div.content{
                padding: 0;
                @extend .paddingMedia;
              }

              > div.content{
                > div{
                  &.article_more{
                    text-align: center;
                    width: 4em;
                    margin: 0 auto;
                    margin-top: .5em;
                  }
                }
              }

              *{
                max-width: 100%;
              }

              header{
                > .thumbnail{
                  margin: 0 !important;
                  padding: 0 !important;

                  @extend .thumbnail;
                }

                .thumb{
                  &,img,li{
                    width: 100%;
                  }
                }

                > h1.title{
                  background: #333;
                  margin-top: .5em;
                  min-height: 2em;
                  padding: .3em 0;
                  padding-left: 2.7em;
                  padding-right: 1em;
                  font-weight: bold;
                  border-color: transparent;

                  &,*{
                    line-height: 1.2em !important;
                  }
                }

                > .thumbnail + h1.title{
                  margin-top: -.15em;
                  padding-left: 1em;
                  min-height: 1.5em;

                  &,*{
                    line-height: 1.5em;
                  }
                }

                ul{
                  list-style-type: none;
                }
              }

              .edicao{
                background: $cor_barra_modificado;
                padding: .7em 0;
                margin: .7em 0;
                @extend .paddingMedia;

                &,*{
                  color: $cor_barra_modificado_letra;
                }
              }

              .autor{
                background: #fafafa;
                border-radius: 69px;
                border: 1px solid #ddd;

                padding: 7px;
                margin: 1.5em .1em;
                margn-bottom: 1em;

                border-top-right-radius: 0;
                border-bottom-left-radius: 0;

                div.avatar{
                  border: 3px dashed #2b92db;
                  padding: 6px;
                  border-radius: calc(64px + 12px / 12);
                  display: inline-block;
                  margin: .5em 1em;
                  margin-left: .1em;
                  float: left;
                  z-index: +1;

                  img{
                    border-radius: 64px;
                    -webkit-box-shadow: 1px 1px 7px 0px rgba(50, 50, 50, 0.9);
                    -moz-box-shadow:    1px 1px 7px 0px rgba(50, 50, 50, 0.9);
                    box-shadow:         1px 1px 7px 0px rgba(50, 50, 50, 0.9);
                  }
                }

                div.conteudo{
                  margin-top: -1em;
                  padding: .5em;
                  min-height: 136px;
                }
              }
            }

            &.small{
              margin-top: $article_distance_top;

              article{
                margin-top: 1.2em;
              }
            }

            div.slideshow{
              z-index: 0 !important;

              > ul.rslides {
                position: relative;
                list-style: none;
                overflow: hidden;
                width: 100%;
                padding: 0;
                margin: 0;

                > li {
                  -webkit-backface-visibility: hidden;
                  position: absolute;
                  display: none;
                  width: 100%;
                  left: 0;
                  top: 0;

                  &:first-child {
                    position: relative;
                    display: block;
                    float: left;
                  }

                  > img {
                    display: block;
                    height: auto;
                    float: left;
                    width: 100%;
                    border: 0;
                  }
                }
              }
            }
          }
        }
      }
    }

  }

  &.error404{
    > section.body{
      > div.wrapper{
        > section{
          &.inner.wrapper{
          }
        }
      }
    }
  }

  &.logged-in,
  &.admin-bar{
    > section.body{
      &.iasd{
        > .fixed{
          max-width: 100% !important;
        }
      }
    }
  }
}